.menu {
    margin: 20px;
}

.cabecalho__menu-hamburger {
    width: 32px;
    height: 32px;
    background-image: url("../assets/menu-aberto.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0.7em;
}

.lista-menu  {
    display: none;
    background-color: var(--cor-fundo-menu);
    width: 60%;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.container__botao {
    display: none;
}

.lista-menu__titulo {
    text-align: center;
    padding: 1em;
}

.menu__titulo {
    font-size: 18px;
    margin-top: 0.7em;
    color: var(--cor-letra-logo);
}

.lista-menu__logo {
    width: 50%;
    border-radius: 100%;
}

.lista-menu__item {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: var(--cor-letra-logo);
    padding: 10px;
    border-top: 3px solid var(--cor-fundo);
}